ha-card {
  padding: 16px;
}

.headContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px solid;
  border-color: var(--ha-card-border-color, var(--divider-color, #e0e0e0));
  border-radius: var(--ha-card-border-radius, 12px);
  margin-bottom: 16px;
}

.headItem {
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  border-right: 1px solid;
  border-color: var(--ha-card-border-color, var(--divider-color, #e0e0e0));
}

.headItem:first-of-type {
  border-top-left-radius: var(--ha-card-border-radius, 12px);
  border-bottom-left-radius: var(--ha-card-border-radius, 12px);
}

.headItem:last-of-type {
  border: 0;
  border-top-right-radius: var(--ha-card-border-radius, 12px);
  border-bottom-right-radius: var(--ha-card-border-radius, 12px);
}

.headItemActive {
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
}

.forecastHeadline {
  text-align: center;
  font-size: 1.2rem;
  color: var(--secondary-text-color);
  margin-bottom: 5px;
}

.forecastContainer {
  margin-bottom: 2rem;
}

.forecastItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  border-bottom: 1px solid;
  border-color: var(--ha-card-border-color, var(--divider-color, #e0e0e0));
  padding: 5px 0;
}
